<html>
    <head>
        <title>AddProduct</title>
    </head>
    <h1>Please input the product ID, product name and product unit price that you want to add</h1>
    <h2>{{status}}</h2>
    <form action = "/AddProduct" method = "POST">
        <p>Product ID : <input type = "text" name = "ID"></p><br>
        <p>Product Name : <input type = "text" name = "Name"></p><br>
        <p>Product unit price : <input type = "text" name = "Price"></p><br>
        <input type = "submit" value = "Submit">
        <input type = "reset" value = "Reset">
    </form>
</html>